@import url("https://fonts.googleapis.com/css?family=Nunito|Saira|Lacquer&display=swap");


:root {
  --background: #E7E7E7;
  --main-text-color: #618E3C;
  --text-color: #575757;
  --text-second-color: black;
  --navbar-height: 35px;
  --navbar-padding: 15px;
  --bg-projet: rgba(255, 255, 255, 0.75);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.darkmode {
  --background: #303030;
  --text-color: #e4dede;
  --text-second-color: white;
  --bg-projet: rgba(87, 87, 87, 0.75);
}

.pattern {
  position: relative;
  background-color: var(--background);
}

.pattern:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 275px;
  background-color: var(--text-color);
  -webkit-mask-image: url(asset/wave-bottom.svg);
  mask-image: url(asset/wave-bottom.svg);
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background);
  color: var(--text-color);
  padding: var(--navbar-padding);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}

nav h2 {
  cursor: pointer;
  letter-spacing: 0.2em;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  height: 100%;
  font-family: "Nunito";
  margin: 0 15px 0 auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  display: inline;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

nav ul li:hover {
  background-color: var(--text-color);
}

nav ul li:hover a {
  color: var(--background);
}

nav ul li a span {
  position: relative;
}

nav ul li a span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  background-color: var(--text-color);
  width: 0%;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

nav ul li.current a span::after {
  width: 100%;
}

nav ul li.current:hover span::after {
  background-color: var(--background);
}

nav .light-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 850px)  {
  nav ul {
    transition: all 0.3s ease;
    position: absolute;
    height: fit-content;
    top: calc(var(--navbar-height) + 2 * var(--navbar-padding));
    right: 0;
    margin: 0;
    padding: 0;
    background-color: var(--text-color);
    color: var(--background);
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    transform: scaleY(0);
    transform-origin: top;
    border-bottom: solid 3px #0e76a8;
  }

  nav ul li {
    height: 100px;
  }
  
  nav.open {
    background-color: var(--text-color);
  }
  
  nav ul li a span::after {
    display: none;
  }
  
  nav.open ul {
    transform: scaleY(1);
    padding-top: 10px;
  }

  nav.open ul li {
    width: 80%;
    border-bottom:var(--background) dashed 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav.open ul li:last-child {
    border-bottom:none;
  }

  nav.open ul li a {
    font-size: 1.2rem;
    height: 60px;
    justify-content: center;
    color: var(--background);
  }

  nav.open h2 {
    z-index: 2;
    color: var(--background);
  }

  .light-button {
    z-index: 2;
    margin-left: auto;
  }

  nav.open .light-button{
    color: var(--background);
  }

  .mobile-button {
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-button .line {
    width: 80%;
    height: 4px;
    background-color: var(--text-color);
    margin: 3px 0;
  }

  .line {
    transition: all 0.1s ease-in;
  }

  nav.open .mobile-button .line {
    background-color: var(--background);
  }

  nav.open .mobile-button .line:nth-child(2) {
    display: none;
  }

  nav.open .mobile-button .line:nth-child(1) {
    transform: translate(0px, 5px) rotate(-45deg);
  }

  nav.open .mobile-button .line:nth-child(3) {
    transform: translate(0px, -5px) rotate(45deg);
  }
}

header {
  height: calc(100vh - (var(--navbar-height) + 2*var(--navbar-padding)));
}

#header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-content {
  max-width: 35rem;
  z-index: 1;
}

#header h3 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: .3;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  margin: 10px 0; 
}

#header h1 {
  font-size: 4.6rem;
  color: var(--main-text-color);
  font-family: 'Nunito';
  text-align: left;
  font-weight: 700;
  margin: 0;
}

#header p {
  font-size: 1.4rem;
  margin: 0;
}

@media screen and (max-width: 600px){

  #header h1, #header p, #header h3 {
    text-align: center;
  }

  .header-text {
    margin: 0 15px;
  }

  .buttons {
    margin: auto;
  }

  .links {
    justify-content: center;
  }
}

#header, section {
  scroll-margin-top: calc(var(--navbar-height) + 2*var(--navbar-padding));
}

section {
  background-color: var(--background);
  text-align: center;
  padding-top: 1.5rem;
}


section:before {
  background-color: var(--text-color);
  width: 20%;
  height: 0.5%;
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
}

section h2 {
  letter-spacing: 1.4px;
  margin-top: 26px;
  font-family: 'Saira', sans-serif;
}

section:last-of-type {
  overflow-y: clip;
  margin-bottom: 5vh;
}

.formation h3 {
  color: var(--background);
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Saira', sans-serif;
}

.formation p {
  color: var(--text-second-color);
  text-align: justify;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Saira', sans-serif;
}

.formation-list {
  list-style: none;
  background-color: var(--text-color);
  padding: 25px;
  margin: 50px auto;
  max-width: 30%;
  border-radius: 5px;
  border-left: solid 4px #004ffc;
  text-align: left;
}

.formation {
  position: relative;
  border-bottom: 1px dashed var(--background);
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.formation::after {
  position: absolute;
  color: #444444;
  content: attr(date);
  top: 0;
  left: -125px;
  text-align: right;
}

.formation::before {
  position: absolute;
  background-color: var(--text-color);
  width: 10px;
  height: 10px;
  left: -35.5px;
  border-radius: 50%;
  border: #004ffc 4px solid;
  content: "";
}

.formation:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.reveal {
  transform: translateY(45%);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#header ul {
  display: flex;
  gap: 25px;
  padding: 0;
}

#header ul li {
  list-style: none;
  font-size: 0.9em;
  width: 40px;
  height: 100%;
  display: flex;
  font-size: 50px;
}

#header li i {
  display: flex;
  justify-self: center;
  color: var(--text-color);
  filter: drop-shadow(3px 3px 5px rgba(213, 213, 213, 0.3));
}

body.darkmode #header li i{
  filter: none;
}

#header .fa-youtube:hover {
  color: red;
  cursor: pointer;
}

#header .fa-instagram:hover {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d8219e 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}

#header .fa-github:hover {
  color: black;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
}

#header .fa-linkedin-in:hover {
  color: #0e76a8;
  cursor: pointer;
}

#header a {
  text-decoration: none;
}

.buttons {
  background-color: var(--text-color);
  width: 30vh;
  height: 7vh;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttons:hover {
  background-color: var(--background);
  outline: solid 2px var(--text-color);
}

.buttons p {
  text-decoration: none;
  color: var(--background);
  font-size: 20px;
  display: inline-block;
}

.buttons:hover p {
  color: var(--text-color);
  background-color: var(--background);
}

.buttons a {
  text-decoration: none;
}

h3 {
  letter-spacing: 1.4px;
  font-size: 1.3em;
  font-family: 'Saira', sans-serif;
}

.competence-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.competence-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 25px;
  align-items: center;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.competence-cards h4 {
  color: var(--text-color);
  margin: 5px 0 0 0;
}

.competence-cards img {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}

.competence-cards .imgs {
  width: 40px;
  height: 40px;
}

.competence-cards .imgs img:nth-child(2){
  display: none;
} 

body.darkmode .competence-cards .imgs img:nth-child(2){
  display: block;
}

body.darkmode .competence-cards .imgs img:nth-child(1){
  display: none;
}

.competence-cards:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .cards-container {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
    .cards-container {
      width: 100%;
    }
}

.projet-container {
  margin: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.projet-card {
  z-index: 0;
  position: relative;
  width: 350px;
  transition: all 0.5s ease-in-out;
}

.projet-card img {
  width: 100%;
  height: 100%;
}

.projet-card:hover {
  z-index: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.projet-card:hover .projet-info, .projet-info:hover{
  opacity: 1;
  bottom: 0;
}

.projet-info {
  opacity: 0;
  display: flex;
  background-color: var(--bg-projet);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  transition: opacity 0.6s ease-in-out;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.projet-info > * {
  margin: 0;
}

.projet-info ul {
  display: flex;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  width: 100%;
}

.projet-info ul li, .projet-info button{
  color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 3px 6px;
  border-radius: 10px;
  background-color: var(--main-text-color);
  margin: 5px
}

.projet-info button {
  border: none;
  background-color: var(--background);
  color: var(--text-color);
  width: 40%;
  height: 25px;
}

.projet-info button:hover {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background);
}

.projet-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow-x: hidden;
  outline: 0;
  background: rgb(255 255 255 / 40%);
  z-index: 2;
  backdrop-filter: blur(20px);
  align-items: center;
  justify-content: center;
}

.projet-modal.show {
  display: flex;
  animation: fadeIn 1s ease both;
}

.projet-modal.unshow {
  animation: fadeOut 0.6s ease both;
}

body.modal-show {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
}

.modal-box {
  width: 40%;
  background-color: var(--text-color);
  padding: 5px 10px;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

.modal-header h3 {
  font-size: 1em;
  margin-left: 10px;
}

.modal-header .modal-close {
  cursor: pointer;
  font-size: 1.6em;
  margin-left: auto;
  margin-right: 10px;
}

.modal-content {
  padding-bottom: 10px;
}

.image {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 60%;
  height: 40%;
}

.mySwiper {
  --swiper-navigation-size: 1.6rem;
  --swiper-navigation-sides-offset: 40px;
  --swiper-navigation-color: var(--background);
  --swiper-pagination-color: var(--background);
  --swiper-pagination-bottom: 10px;
  --swiper-pagination-bullet-inactive-color: var(--background);
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-bullet-opacity: 1;
}

@media screen and (max-width: 500px) {
    .mySwiper {
      --swiper-navigation-sides-offset: 10px;
    }
}

.text {
  flex: 2;
  color: var(--background);
}

.items-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-text h3 {
  margin: 10px 0;
}

.items-text p {
  margin: 5px 0;
}

@media screen and (max-width: 1250px){
  .modal-box {
    width: 75%;
  }
}

footer {
  display: block;
  margin-top: auto;
  background-color: #444444;
  position: relative;
  bottom: 0%;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}


footer i {
  color: red;
}

footer p {
  color: white;
}

footer a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: auto;
  color: white;
  animation: 0.4s ease-in-out;
}

footer a.underline::after {
  content: "";
  display: block;
  background-color: wheat;
  width: 0%;
  height: 3px;
  transition: width 0.2s ease-in-out;
}

footer a:hover::after {
  width: 100%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.mySwiper {
  width: 100%;
  height: 100%;
}